.container{
    margin: 0;
    padding: 0;
    text-align: justify;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #E55451 	;

    font-size: 25px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mainpage{
    width: 40%;
    height: 450px;
    background-color: #FF8674;
    
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanan{
    width: 30%;
    height: 450px;
    background-color: #E77471;

    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width : 150px;
    height : 200px;
    border-radius: 20px;
    display : block;
    margin-left : auto;
    margin-right : auto;
    margin-bottom: 10px;

}

.kiri{
    width: 30%;
    height: 450px;
    background-color: #E77471;

    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.footer{
    width: 100%;
    height: 50px;
    background-color: #E55451;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}